.header-container {
  background-color:
    black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  position: relative;
  z-index: 100;

}

.navbar-container {
  display: flex;
  background-color: #1a2456;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

}

.nav-links-container {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-links-container li {
  position: relative;
  margin-left: 2rem;
}

.nav-links-container a {
  text-decoration: none;
  color: #ff8b68;
  font-size: 1rem;
  font-weight: 500;
}

.logo-container {
  color: #ff8b68;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.submenu-container a {
  display: flex;
  align-items: center;
}

.dropdown-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: max-content;
  white-space: nowrap;
}

.dropdown-container li {
  margin: 0;

  padding: 0.5rem 0;
}

.dropdown-container li a {
  color: #333;
}

.submenu-container:hover .dropdown-container {
  display: block;
}

.submenu-container a svg {
  margin-left: 0.5rem;
}

/* Mobile Menu Toggle */
.menu-toggle-container {
  display: none;
}

@media (max-width: 768px) {
  .nav-links-container {
    flex-direction: column;
    position: absolute;
    background-color: #1a2456;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    display: none;
    transition: all 0.3s ease;
  }

  .nav-links-container li {
    margin-left: 0;
    width: 100%;
    padding: 1rem 2rem;
  }

  .nav-links-container.active {
    display: flex;
  }

  .menu-toggle-container {
    display: block;
    color: black;
    cursor: pointer;
  }

  .dropdown-container {
    position: relative;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: max-content;
    white-space: nowrap;
  }

}